@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    padding: 30px;
    background-color: rgb(40, 42, 54);
    color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
    body {
        background-color: rgba(255, 255, 255, 1);
    }
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    min-width: 300px;
    height: 100%;
    border-right: 5px solid #000000;
}

#main-doc {
    position: absolute;
    left: 310px;
}

section {
    min-height: 600px;
}
